.sum .main1 a{color: #000000;}
.sum{width: 234px;height: 300px;margin: auto;}
.sum .main1{width: 234px;height: 145px;background-color: #fff;margin-bottom: 10px;}
.sum .main1:hover{cursor:pointer;transform: translate(0,-2px);box-shadow:3px 3px 3px 3px rgba(200,200,200,0.5) ;transition: all .5s;}
.sum .main1 .left .none{font-size: 20px;}
.sum .main1 .left p{font-size: 14px;margin-left: 20px;margin-top: 5px;color: #FF0000;}
.sum .main1 .left h3{font-size: 14px;font-weight: 400;width: 94px;height: 42px;margin-top:40px;margin-left: 20px;}
.sum .main1 .left{width: 134px;height: 145px;float: left;}
.sum .main1 img{width: 80px;height: 80px;margin-top: 30px;}